/* components/content.css */
.content-container {
    position: relative;
    flex: 1;
}

.content-header {
    position: absolute;
    top: clamp(0px, 25vh, 9rem);
    height: 1.75rem;
    width: 100%;
}

.content-header-text {
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    text-align: right;
    font-weight: 800;
}

.content-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.25px;
    width: 100%;
    height: 0.5px;
    background: #000;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.content-items {
    width: 18rem;
    flex-shrink: 0;
}

.content-items img {
    max-width: 18rem;
    width: 100%;
    height: auto;
    display: block;
    margin: 0.5rem 0;
}

@media (max-width: 36rem) {
    .content-container {
        width: 100%;
    }

    .content-items {
        width: 100%;
    }
}