@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;650;700;750;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

:root {
    --menu-total-height: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background: #f1f1f1;
    /*font-weight: 400;*/
    /*color: #000;*/
    /*line-height: 1.5;*/
    /*font-size: 1rem;*/
}

#app {
    width: 100vw;
    height: 100vh;
    /*font-size: .8rem;*/
}

.columns {
    display: flex;
    gap: 3rem;
    width: 100%;
    height: 100%;
}

.columns > .menu-container {
    flex: 0 0 33.3333%;
}

@media (max-width: 50rem) {
    .columns {
        flex-direction: column;
    }

    .columns > .menu-container {
        flex: 0;
    }

    .columns:has(.menu-container .menu-items.open) > .content-container {
        margin-top: var(--menu-total-height);
    }
}
